*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #ded2ff;
    color: #42225e;
  }
  
  h1 {
    margin: 30px 0 20px;
    text-align: center;
  }
  
  .faq-container {
    max-width: 1000px; /* Adjusted max-width for wider FAQ boxes */
    margin: 0 auto;
  }
  
  .faq {
    background-color: transparent;
    border: 1px solid #A555EC;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    transition: all .4s ease;
    max-width: 100%; /* Adjusted max-width for wider FAQ boxes */
  }
  
  .faq.active {
    background-color: #a555ec60;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  }
  
  .faq-text {
    display: none;
    margin: 20px 0 0;
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
  .faq-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
  }
  
  .chevron,
  .close {
    width: 12px;
    height: 12px;
  }
  
  .faq-toggle .close {
    display: none;
  }
  
  .faq.active .faq-toggle .close {
    display: block;
  }
  
  .faq.active .faq-toggle .chevron {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #A555EC;
    border-radius: 50%;
    color: #ffffd9;
  }
  