/* .preloader {
  height: 50rem;
  background: rgb(10, 44, 179);
} */

.preloadervideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .preloadervideo {
    transform: translateX(-580px);
    /* transform: translateY(-580px); */

  }
}

@media only screen and (min-width: 293px) {
  .preloadervideo {
    width: 1536px;
  }
}
