

@media only screen and (min-width: 768px) {
  video {
    transform: translateX(1px);
    height: 700px;
  }
}

/* @media only screen and (min-width: 1024px) {
  video {
    transform: translateX(-100px);
    height: 700px;
  }
} */

@media only screen and (min-width: 1080px) {
  video {
    transform: translateX(1px);
    height: 700px;
  }
}

@media only screen and (min-width: 1036px) {
  video {
    transform: translateX(1px);
    height: 700px;
  }
}

@media only screen and (min-width: 1025px) {
  video {
    transform: translateX(1px);
    height: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  video {
    transform: translateX(1px);
    height: 700px;
  }
}


@media only screen and (min-width: 1280px) {
  video {
    transform: none;
    height: 700px;
    width: 1700px;
  }
}

@media only screen and (min-width: 1038px) {
  video {
    transform: none;
    height: 700px;
    width: 2000px;
  }
}

@media only screen and (min-width: 1536px) {
  video {
    transform: none;
    height: 700px;
    width: 1700px;
  }
}

@media only screen and (min-width: 1903px) {
  video {
    transform: none;
    height: 1000px;
    width: 2200px;
  }
}


/* @media only screen and (min-width: 768px) and (max-width: 1068px) {
  video {
    height: 876px;
    transform: translateX(-133px);
  }
} */


