.footer {
  background-color: #1b1c27;
}

.footerContainer {
  padding: 1rem 0;
}

.footerContainer p {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: "Helvetica";
}

.footerContainer a {
  color: #94d6ff;
}

.footerContainer div .icons {
  margin: 4px;
  cursor: pointer;
  color: #fff;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 728px) {
  .footer-logo img {
    height: 100px;
    width: 100px;
  }
}
