.generalcard {
  cursor: pointer;
  /* border-radius: 15px; */
  overflow: hidden;
  transition: 0.3s ease-in-out;
  /* box-shadow: 2px 3px 10px rgba(0, 0, 0, 2); */
  /* box-shadow: rgb(48, 3, 54) 0px 4px 10px; */
  /* box-shadow: rgb(85, 6, 95) 0px 4px 10px; */
  box-shadow: inset 0px -4px 10px rgba(255, 130, 191, 0.7); /* Adjust box shadow color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.generalcard:hover {
  transition: 0.3s ease-in-out;
  /* box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.7); */
  /* box-shadow: rgb(202, 28, 225) 0px 4px 10px; */
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
}
.generalcard img {
  width: 14rem;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 64rem) {
  .generalcard {
    /* width: 511px; */
    /* width: 406px;
    height: 240px; */
    width: 421px;
    height: 321px;
    /* margin: 20px; */
  }
}
@media screen and (max-width: 64rem) {
  .generalcard {
    width: 40vw;
    height: 24vw;
    /* margin: 20px; */
  }
}
@media screen and (max-width: 700px) {
  .generalcard {
    height: 65vw;
    width: 80vw;
    /* margin: 10px; */
  }
}

@media screen and (min-width: 640px) {
  .generalcard img {
    width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .generalcard img {
    width: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .generalcard img {
    width: 19rem;
  }
}
