.generalcard {
    cursor: pointer;
    /* border-radius: 15px; */
    overflow: hidden;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 2);
  }
  .generalcard:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.7);
  }
  .generalcard img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 64rem) {
    .generalcard {
      width: 300px;
      height: 180px;
      /* margin: 20px; */
    }
  }
  @media screen and (max-width: 64rem) {
    .generalcard {
      width: 40vw;
      height: 24vw;
      /* margin: 20px; */
    }
  }
  @media screen and (max-width: 700px) {
    .generalcard {
      height: 45vw;
      width: 80vw;
      /* margin: 10px; */
    }
  }
  