@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

#hackathon-overview-section {
    background: #151515;
    padding: 0 0 50px 0;
    position: relative;
}

.counters {
    font-size: 28px;
}



.overview-box {
    background: black;
    text-align: center;
    padding: 60px 50px;
    margin-top: -0px;
    height: 580px;
    box-shadow: 10px 10px 25px #4A2FBD;
    border: 2px solid;
    border-image-source: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border-image-slice: 1;
}

.overview-box p {
    font-size: 35px;
}

.hackathon-stroke {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counters-div iframe {
    display: flex;
    align-items: center;
    justify-content: center;


}

@media only screen and (max-width: 600px) {
    .schedule {
        height: inherit;
    }

    .overview-box p {
        font-size: 25px
    }

    .counters {
        font-size: 25px;
    }

    .overview-box {
        height: inherit;
    }
}