#themes-section {
  padding: 10px;
  margin-bottom: 20px;
}

#themes-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 5px 0 20px 0;
}

.themes-tiles img {
  height: 200px;
  width: 200px;
}

.themes-tiles figcaption {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 23px;
}

@media only screen and (max-width: 600px) {
}
