.boxesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prizesHead {
  /* align-self: self-start; */
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-family: Consolas;
}
.boxesWrapper {
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.box {
  font-family: consolas;
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: flex-end; */
  background: #060c21;
  margin: 40px;
}
.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box:nth-child(1) {
  height: 360px;
}
.box:nth-child(2) {
  height: 510px;
}
.box:nth-child(3) {
  height: 280px;
}
.box:nth-child(1):before,
.box:nth-child(1):after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}
.box .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.box .content {
  padding: 20px;
  color: #fff;
}

.box .winnerHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.box h1 {
  font-size: calc(10px + 10vh);
  /* line-height: calc(20px + 20vh); */
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #2196f3, 0 0 15px #2196f3, 0 0 20px #2196f3,
    0 0 40px #2196f3, 0 0 60px #772aff, 0 0 10px #ff8d00, 0 0 98px #772aff;
  color: #c6e2ff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #2196f3, 0 0 15px #2196f3, 0 0 20px #2196f3,
      0 0 40px #2196f3, 0 0 60px #772aff, 0 0 10px #ff8d00, 0 0 98px #772aff;
    color: #fff6a9;
  }
}

.box .upper_numbers {
  margin-top: 20px;
}

@media only screen and (max-width: 1400px) {
  .boxesWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .no1 {
    order: 1;
  }
  .no2 {
    order: 2;
  }
  .no3 {
    order: 3;
  }

  .box:nth-child(1) {
    height: 280px;
  }
  .box:nth-child(2) {
    height: 280px;
  }
  .box:nth-child(3) {
    height: 280px;
  }
}
