.online-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #967fd6;
}

.offline-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #aa367c;
}

.center-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}

/* .online-holder {
  transform: translate(25px, 0);
} */

.offline-holder {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
