.top {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/hackathon.jpg"); */
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}
.top .topContainer {
  padding: 0% 6.25vw;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* background: rgba(15, 15, 15, 0.65); */
  background: transparent;
}

/* TEXT COLORS */
#orange-pink {
  background: linear-gradient(98.84deg, #ffff80 43.27%, #ff82bf 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Description {
  border-radius: 23px;
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
  /* box-shadow: rgb(202, 28, 225) 0px 4px 20px; */
  /* box-shadow: rgb(48, 3, 54) 0px 4px 10px; */
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  .Description {
    width: 70%;
  }
}

.Carousel.Item img {
  max-width: 100%;
  height: auto;
}

.Image9 {
  width: 76rem;
}

.carousel-indicators {
  display: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  transition: ease-in 0.3s;
  padding: 4px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: #92239d;
  border-radius: 4px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  /* color: rgb(248, 0, 0);
  background: #5767fe;
  border: 4px solid #fff; */
}

/* .carousel-control-next-icon{
  padding-left: 2px;
}

.carousel-control-prev-icon{
  padding-right: 2px;
} */

/* .carousel-control-next-icon, .carousel-control-prev-icon:hover {
  background: #5767fe;
} */
.top .joinButton:hover {
  background-color: #5767fe;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.top .joinButton:active {
  background-color: #6574f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (orientation: landscape) {
  .top {
    background: transparent;

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/img/hackathon.jpg"); */
  }
  .top .topContainer {
    padding: 5vw 6.25vw;
  }
  .top h1 {
    margin: 0 auto 5%;
    font-size: 2.4rem;
  }
  .top .joinButton {
    margin: 5% auto 0;
    font-size: 1.25rem;
    width: auto;
    padding: 1rem 2.5rem;
  }
}
@media screen and (min-width: 43.75rem) {
  .top {
    background: transparent;

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/img/hackathon.jpg"); */
  }
  .top h1 {
    margin-bottom: 7.5%;
    font-size: 2.5rem;
  }
  .top .joinButton {
    margin: 7.5% auto 0;
    font-size: 1.75rem;
    width: auto;
    padding: 1rem 2.5rem;
  }
}
@media screen and (min-width: 43.75rem) and (orientation: landscape) {
  .top {
    background: transparent;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/img/hackathon.jpg"); */
  }
  .top .topContainer {
    padding: 0vw 12.25vw;
  }
  .top h1 {
    margin: 0 auto 5%;
  }
}

@media screen and (min-width: 640px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .Description {
    border-radius: 15px;
  }
}

.SeeMoreButton {
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
  transition: 0.5s ease-in-out;
}

/* .SeeMoreButton:hover {
  background-color: #5767fe;
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
} */

@media only screen and (min-width: 1280px) {
  .SeeMoreButton {
    display: none;
  }
}
