/* WinnerCard.css */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 1px solid #000;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .card {
    height: 200px;
  }
}

.curtain-panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  transition: transform 0.5s ease;
}

.curtain-left::before,
.curtain-right::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.curtain-left::before {
  background: url('../../assets/img/pastwinners/1stprizeOne.png') center/cover no-repeat;
  left: 0;
}

.curtain-right::before {
  background: url('../../assets/img/pastwinners/1stprizeTwo.png') center/cover no-repeat;
  right: -0.1px;
}

.curtain-left.card2::before {
  background: url('../../assets/img/pastwinners/2ndprizeOne.png') center/cover no-repeat;
}

.curtain-right.card2::before {
  background: url('../../assets/img/pastwinners/2ndprizeTwo.png') center/cover no-repeat;
  right: -0.99px;
}

.curtain-left.card3::before {
  background: url('../../assets/img/pastwinners/3rdprizeOne.png') center/cover no-repeat;
}

.curtain-right.card3::before {
  background: url('../../assets/img/pastwinners/3rdprizeTwo.png') center/cover no-repeat;
  right: -0.1px;
}

.curtain-left {
  left: 0;
  transform-origin: left;
}

.curtain-right {
  right: 0;
  transform-origin: right;
}

.card-content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-text {
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  color: #000;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card:hover .curtain-left {
  transform: translateX(-100%);
}

.card:hover .curtain-right {
  transform: translateX(100%);
}
