/* .globe {
  box-shadow: rgb(202, 28, 225) 0px 4px 10px;
} */
.globe-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .scene-container {
    width: 376px !important;
    height: 500px !important;
  }
  .globe canvas {
    width: 376px !important;
    height: 500px !important;
    border-radius: 35px;
    box-shadow: rgb(48, 3, 54) 0px 4px 10px;
    /* box-shadow: rgb(202, 28, 225) 0px 4px 20px; */
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .scene-container {
    width: 600px !important;
    height: 600px !important;
  }
  .globe canvas {
    width: 600px !important;
    height: 600px !important;
    border-radius: 35px;
    box-shadow: rgb(48, 3, 54) 0px 4px 10px;
  }
}

/* @media screen and (min-width: 1536px) {
  .scene-container {
    width: 768px !important;
    height: 936px !important;
  }
  canvas {
    width: 768px !important;
    height: 936px !important;
  }
} */

.states-h1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

#blue-cyan {
  background: linear-gradient(98.84deg, #8680bb 43.27%, #84b4b5 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
#purple-pink {
  background: linear-gradient(98.84deg, #a8519f 43.27%, #644ea0 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#green-yellow {
  background: linear-gradient(98.84deg, #80ffea 43.27%, #8aff81 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#orange-pink {
  background: linear-gradient(98.84deg, #ffff80 43.27%, #ff82bf 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#green-teal {
  background: linear-gradient(98.84deg, #5b8f81 43.27%, #a1d5a0 71.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 420px) {
  .states-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
